assertions.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="assertions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="assertion">
          <xs:complexType>
            <xs:simpleContent>
				<xs:sequence>
					<xs:element type="xs:string" name="title" use="required"/>
					<xs:element type="xs:string" name="body" use="required"/>
				</xs:sequence>
				<xs:attribute type="xs:string" name="uuid" use="required"/>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
